{% extends "base.html" %}

{% load static %}

{% block extra_title %}Home{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container main-container h-100">
        <div class="row">
            <div class="col display-5 text-success">All Products</div>
        </div>
        <div>
            {% for design in all_designs %}
                <p>{{ design.display_name }}</p>
                <p>{{ design.product_design_category.display_name }}</p>
                <p>{{ design.product_design_category.product_design_group.display_name }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Custom Scripts -->
    <script src="{% static 'js/topProductMenuHandler.js' %}"></script>

{% endblock %}