@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cookie&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 100px);
    font-family: 'Domine', serif;
}

.header-container {
    height: 100px;
}


/* Colors */


.bg-orange {
    background-color: rgb(254,124,0);
}

/* TopNav Styles */

.top-nav-row {
    background: linear-gradient(to right, rgba(254, 124, 0, 1.0) 5%, rgba(57, 59, 67, 0.0)25%,rgba(57, 59, 67, 0.0) 75%,rgba(254, 124, 0, 1.0) 95%);
}

.product-group-btn {
    width: 230px;
    padding: 0.625rem 0.5rem 0.5rem;
    font-size: 0.9rem!important;
}

.design-group-btn {
    width: 270px;
    padding: 0.625rem 0.5rem 0.5rem;
    font-size: 0.9rem!important;
}

.top-nav-row-menu {
    height: 60px;
}

.category {
    width: 230px;
    padding-left: 30px;
}

.btn-group {
    margin: 2px;
}

.fa-chevrons-left, .fa-chevrons-right {
    cursor: pointer;
}

